html{
    height: 100vh;
    width: 100vw;
    overflow: hidden;
}
body{
    background: url("../static/mainbg.jpg") ;
    background-size: cover;
    background-repeat: no-repeat; 
    height: inherit;
    width: inherit;
    margin: 0rem 0rem;
}
header{
    height: auto;
    width: inherit;
    padding: 1rem 1rem;
    font-size: 200%;
}
footer{
    height: auto;
    width: inherit;
    padding: 2rem 1rem;
    text-align: center;
    position: fixed;
    bottom: 0%;
}
.wholebody{
    height: auto;
    width: inherit;
    display: flex;
    flex-direction: row;
}
.form-section{
    height: inherit;
    width: 40%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content:start;
    padding-top: 10rem;
}
.tasklist-section{
    height: inherit;
    width: 60%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 5rem 5rem;
}
.left-header{
    width: inherit;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2rem 2rem;
}
.app-logo{
    margin: 0rem 0rem;
    font-family: url("../static/Lobster-Regular.ttf");
    font-style: italic;
    font-size: 4rem;
}
.left-body{
    height: 10rem;
    width: inherit;
    display: flex;
    flex-direction: column;
    align-items: center;
}
textarea, textarea:focus {
    width: 20rem;
    margin: 0rem 0rem;
    border: 2px solid black;
    border-radius: 20px;
    padding: 1rem;
    outline: none !important;
}
.input-wrap{
    display: flex;
    flex-direction: column;
    align-items: initial;
    padding: 2rem 0rem;
}
.addtaskbutton{
    padding: 1rem 2rem;
    border-radius: 15px;
    background: transparent;
    color: black;
    font-weight: bold;
    border: 2px solid black;
    box-shadow: 2px 2px 4px #000000;
}
.tablerow{
    padding: 1rem 1rem 0rem ;

}
.tabledata{
    font-size: large;
    padding: 1rem 1rem 0rem 0rem;
    /* font-weight: bold; */
}
.tasklist-data{
    width: 25rem;
}
.deletebutton{
    background: transparent;
    border: 0;
}